* {
	font-family: sans-serif;
}

#top {
	margin-left: -5px;
	width: intrinsic;
}

#title {
	color: #10a1ff;
	display: table;
}

#titleCaption {
	text-align: center;
	margin-top: -20px;
}

body {
	margin-left: 50px;s
}

.photos {
	display: inline-block;
	margin: auto;
}
